DATABASE_URL=postgres://Postgres:Postgres@postgres:5432/Plenartrend?search_path=plenartrend&sslmode=disable
GEMINI_API_KEY=salkjfghfdkhg
BEGIN_PROCESSING_ON_STARTUP=false
PROCESS_START_DATE=2020-08-01T00:00:00Z
PROCESS_END_DATE=2025-08-01T00:00:00Z