# Database settings
DATABASE_USER=<YOUR_DATABASE_USER>
DATABASE_PASSWORD=<YOUR_DATABASE_PASSWORD>
DATABASE_HOST=<YOUR_DATABASE_HOST_NAME>
DATABASE_PORT=<YOUR_DATABASE_PORT>
DATABASE_NAME=<YOUR_DATABASE_NAME>

# Optional: Database SSL mode
DATABASE_SSLMODE=<YOUR_SSL_MODE>

# Additional Vars
GEMINI_API_KEY=<YOUR_API_KEY>
NUM_WORKERS=16
BEGIN_PROCESSING_ON_STARTUP=false
PROCESS_START_DATE=2020-08-01T00:00:00Z
PROCESS_END_DATE=2025-08-01T00:00:00Z
LOG_LEVEL=info